body {
    font-family: Manrope, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 527px;
    background-color: #FFFFFF;

}

.content {
    width: 930px;
    height: 456px;
    background-color: #EBF0FA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wrapper {
    margin-top: 102px;
    padding-left: 72px;
    width: 511px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    color: #1F4284;
}

.text {
    font-size: 17px;
    font-weight: 400;
    color: #727272;;

    margin-top: 18px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #244C98;
    border-radius: 60px;
    border: none;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;

    margin-top: 36px;
    width: 341px;
    height: 68px;
}

.buttonSvg {
    margin-left: 60px;
}

.img {
    width: 910px;
    height: 456px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

@media screen and (max-width: 1440px) {
    .container {
        width: 1440px;
    }

    .content {
        width: 680px;
    }

    .title {
        font-size: 26px;
        font-weight: 500;
    }

    .img {
        width: 680px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 768px;
        height: 634px;
        flex-direction: column;
    }

    .wrapper {
        margin-top: 24px;
        padding: 0 24px;
        width: 90%;

    }

    .content {
        width: 720px;
        height: 226px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    .text {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .button {
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;


        width: 261px;
        height: 56px;
        margin-top: 24px;

    }

    .buttonSvg {
        margin-left: 19px;
    }

    .img {
        width: 720px;
        height: 360px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 375px;
        height: 510px;
    }

    .wrapper {
        width: 279px;

    }

    .content {
        width: 328px;
        height: 262px;
    }

    .title {
        font-size: 17px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;

    }

    .text {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        margin-top: 14px;
    }

    .button {
        margin-top: 18px;

    }


    .img {
        width: 328px;
        height: 220px;


    }
}

